/*
palette: https://palettes.shecodes.io/palettes/1313
*/

* {
  text-transform: capitalize;
}

.App {
  text-align: center;
}

.spinner {
  border: 1vw solid #f3f3f3;
  border-top: 1vw solid #3498db;
  border-radius: 50%;
  width: 0.5vw;
  height: 0.5vw;
  animation: spin 2s linear infinite;
  padding: 10px;
  margin-left: 10px;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button {
  /* background-color: #baadd3; */
  background-color: #9fd3c7;
  /* box-shadow: 0px 0px 1px 2px #0ff; */
  box-shadow: 0px 0px 1px 2px #385170;
  display: flex-inline;
  justify-content: space-between;
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: large;
}

button:hover {
  background-color: #ffffff;
  color: #671199;
  font-weight: bold;
}

body {
  background: #142d4c;
  color: #ececec;
  /* font-size: 16px; */
  font-size: calc(10px + 2vmin);
}

.container {
  margin: auto;
  max-width: 720px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .topbar {
    background: #142d4c;
    position: sticky;
    width: 100%;
    top: 0;
  }
}

span.word {
  padding: 4px;
}

/* Define the animation */
@keyframes tada {

  0% {
    transform: scale(1);
    /* Original size */
    color: white;
  }

  25%,
  75% {
    transform: scale(1.1);
    /* Grow a bit */
    color: #ffd700;
  }

  50% {
    transform: scale(0.9);
    color: white;
    /* Shrink a bit */
  }

  100% {
    transform: scale(1);
    /* Original size */
    color: #ffd700;
  }
}

/* Apply the animation to span elements */
span.firstWord {
  /* Needed for transform */
  animation: tada 1s ease 1;
  color: #ffd700;
  /* Adjust time and easing as needed */
}